{% extends 'main/index.html' %}
{% load static %}

{% block title %} Правила {% endblock %}

{% block content %}

<div class="features">
    <h1><b>Обязательно прочитать памятку!</b></h1><br>
    <div class="rules">
        <h2>1. Ответ будет засчатан после нажания на кнопку следующий вопрос</h2><br>
        <h2>2. Ответ записывается в поле по номеру который указан в вариантах ответа, то есть ответ есть цифра</h2>
        <h2>3. Не возвращаться на предыдущие вопросы</h2><br>
        <h2>4. По ходу теста не изменять url ссылку</h2><br>
        <h2>5. Максимальная оценка за тест - 10 баллов</h2><br>
        <h2>Всем удачи!</h2><br>
    </div>
    <div class="thanks">
        <h2>Хочу отдельно выразить благодарность нашему замечательному преподавателю Никите! Огромное вам спасибо
        за этот курс, за эти знания которые вы нам передали и за все, чему вы нас научили, за то что всегде помогали нам в трудной
        ситуации и отвечали на все вопросы, которые мы вам задавали не только на занятиях!
            Вот тут будет его инстаграм -> <a href="https://www.instagram.com/mikitaknowsbest/">Никита</a>, а тут его милой собаки ->
            <a href="https://www.instagram.com/zephyrka_white_pink/">Пёсель</a>, что в следующий раз
        мы с вами встретимся уже в какой нибудь компании :)</h2>
    </div>

</div>

{% endblock %}